{{!-- <div>
  Show all object:
  <ul>
    {{#each okay as |game|}}
      <li>id - {{game.id}}</li>
      <li>name - {{game.name}}</li>
      <li>created_at - {{game.created_at}}</li>
      <li>null - {{game.status}}</li>
      <li>abbreviation - {{game.abbreviation}}</li>
      <li>type - {{game.type}}</li>
      <li>updated_at - {{game.updated_at}}</li>
      <hr>
    {{/each}}
  </ul>
</div> --}}

<div>
  <button {{action "readBoardGame"}}>Read Board Game 1</button>
</div>

<div>
  {{input value=newBoardGame placeholder="board game name"}}
  <button {{action "createBoardGame"}}>Create</button>
</div>
<div>
  {{input value=updatedTitle placeholder="new name for board game 1"}}
  <button {{action "updateBoardGame"}}>Update</button>
</div>

<div>
  {{input value=destroyId placeholder="id of game to delete"}}
  <button {{action "destroyBoardGame"}}>Delete</button>
</div>

{{outlet}}
{{outlet "modal"}}